a{
    text-decoration: none;
    
}

.main_container{
    font-size: 0.7rem;
    text-decoration: none;
    max-height: 50vh;
    overflow: hidden;
    color: #575025;
    position: relative;
}

.main_container:hover{
 
}

.main_container::before{
    content: "";
    position: absolute;
}

.main_container:hover::before{
    content: "Details";
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 2.2rem;
    left: 0%;
    background-color: rgba(153, 153, 153, 0.5);
}

.image_container{
    height: 29vh;
    border-radius: 7px;
}

.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img{
    
}

.main_container h2{
    color: white;
}

.temperaments_container{ 
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 0.7rem;
}

.temperaments_container h3{
    margin: 0 0.3rem 0.4rem 0.3rem;
}